/****** General ***********/
* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

h1 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
  cursor: pointer;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 250ms;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
    object-fit: cover;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav img {
  height: 19px;
  width: auto;
  padding: 30px 0px;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar a {
  font-size: 16px;
  margin: 0 30px;
  padding-top: 18px;
}

.navbar a:hover {
  border-top: 2px solid #0065FC;
  color: #0065FC;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.search-container h1 {
  padding-bottom: 10px;
}

.search-container-title p {
  padding-bottom: 35px;
}

.search-form {
  display: flex;
  flex-direction: row;
  padding-bottom: 35px;
}

.location-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  height: 49px;
  width: 50px;
  border-radius: 15px 0 0 15px;
}

#city-searched {
  border: 1px solid #F2F2F2;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

#city-searched::-webkit-search-cancel-button {
  -webkit-appearance: none;
  margin-right: 5px;
}

form button {
  border: none;
  border-radius: 0 15px 15px 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #0065FC;
  padding: 15px 16px;
}

.header-filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 35px;
}

.header-filter-bar h3 {
  font-size: 18px;
  font-weight: bold;
  padding-right: 10px;
}

.header-filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header-filters button {
  height: 50px;
  background-color: white;
  border: 2px solid #D9D9D9;
  border-radius: 25px;
  padding: 4px 19px;
  color: black;
  font-size: 17px;
  font-weight: bold;
  transition: ease-in-out 250ms;
}

.header-filters button:hover {
  background-color: #DEEBFF;
  transform: scale(1.05);
}

.header-filters button i {
  margin-right: 5px;
}

.header-info-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-bottom: 35px;
}

.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D9D9D9;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-and-populaires .card {
  line-height: 20px;
}

.hebergements-and-populaires .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-and-populaires .card-rating {
  margin-bottom: 5px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 33px;
}

.hebergements h3 {
  padding-top: 5px;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 33px;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hebergements-cards img {
  width: 100%;
  height: 114px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

/****** Activites ***********/

.activites {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 33px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.activites-cards {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  justify-content: space-between;
}

.activites-cards img {
  height: 380px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.activites-cards .card {
  padding: 0;
}

.activites-cards .card-title {
  padding: 20px 19px;
}

/****** Footer ***********/

.footer-container {
  display: flex;
  flex-direction: row;
  height: 163px;
  background-color: #F2F2F2;
}

.footer-section {
  flex-grow: 1;
  flex-basis: 0;
  padding: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
